<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data and Business Analyst</h2>
                <hr class="light">
                <p class="text-faded">
                    Passionate Data and Business Analyst, currently pursuing a Master of Science in Business Analytics at Northeastern University. Skilled in Python, SQL, R, PowerBI, Tableau, and more.
                </p>
                <p class="text-faded">
                    Check out my portfolio and let's explore strategic opportunities together.
                </p>
                <a href="#" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>