<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">QA Automation Engineer</h2>
                <hr class="light">
                <p class="text-faded">
Passionate QA Automation Engineer with expertise in test automation, Selenium WebDriver, TestNG, Java, API testing, and CI/CD pipelines. Experienced in ensuring software quality through robust testing strategies and automation frameworks.                </p>
                <p class="text-faded">
                    Check out my portfolio and let's explore strategic opportunities together.
                </p>
                <a href="#" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>
