<header>
    <div class="header-content">
        <div class="container">
            <div class="header-content-inner" style="content-visibility: 2px solid rgb(252, 179, 152, 0.3); padding: 20px;">
                <h1 style="color: darkorange;">Hey, I'm Aashay.</h1>
                <hr>
                <p style="color: white;">I am a business and data analyst. You can check out all my projects here and on my personal website. In my spare time, I love to paint, photograph, trek icy ranges, surf and play football and watch Man Utd games. Contact me if you want to discuss more!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </div>
    <div id="presentation"></div>
</header>
