<header>
    <div class="header-content">
        <div class="container">
            <div class="header-content-inner" style="content-visibility: 2px solid rgb(252, 179, 152, 0.3); padding: 20px;">
                <h1 style="color: darkorange;">Hey, I'm Aashay.</h1>
                <hr>
                <p style="color: white;">I am a QA Automation Engineer passionate about ensuring software quality through efficient testing strategies. You can explore my projects here and on my personal website. I specialize in test automation, Selenium WebDriver, TestNG, Java, CI/CD, API testing, and performance testing. In my spare time, I enjoy exploring new testing frameworks, solving automation challenges, and staying updated with tech trends. Feel free to connect if you'd like to discuss testing strategies or collaborate on a project!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </div>
    <div id="presentation"></div>
</header>
